# Ignore everything by default
*

# Opt-in: only track these files
!.gitignore
!.gitmodules
!README.md
!DEPLOYMENT.md
!SECURITY_ARCHITECTURE.md
!CLAUDE.md
!setup.mjs
!package.json
!LICENSE
!docker-compose.yml
!.env.example
!deploy.sh
!deploy.ps1

# Submodules (git handles these automatically via .gitmodules)
!nomnomzbot-server
!nomnomzbot-server/README.md
!nomnomzbot-app
!nomnomzbot-app/README.md
