[submodule "nomercybot-server"]
	path = nomercybot-server
	url = git@github.com:NoMercyLabs/nomercybot-server.git

[submodule "nomercybot-app"]
	path = nomercybot-app
	url = git@github.com:NoMercyLabs/nomercybot-app.git

[submodule "nomercybot-design"]
	path = nomercybot-design
	url = git@github.com:NoMercyLabs/nomercybot-design.git
